version: 2.1
jobs:
  build:
    working_directory: ~/gitsrc
    docker:
      - image: circleci/node:jessie-browsers
    environment:
      JVM_OPTS: -Xmx3200m
      NODE_ENV: false
      #COVERALLS_REPO_TOKEN: HICc0XwxeBruKFxp0BdCKfGLIHGGTYQhg
    steps:
      - checkout
      - run:
          name: setup-for-karma
          command: npm set prefix=/home/circleci/npm && echo 'export PATH=$HOME/circleci/npm/bin:$PATH' >> /home/circleci/.bashrc
      - run:
          name: globals karma-cli, jasmine, jspm
          command: npm install -g karma-cli jasmine jspm
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: npm install
          command: npm install
      - run:
          name: run test
          command: npm run testc
      - store_artifacts:
          path: coverage
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - .node_modules
